@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif ;
    scroll-behavior: smooth;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

/* Seção de apresentação */

#presentation {
    background-image: url(img/casas.jpg);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top center;
    position: relative;
    opacity: 0.9;
    z-index: 1;
}

#presentation::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width: 100%;
    background-color:black;
    opacity: 0.5;
    z-index: -1;
}

.list-link {
    display: flex;
    justify-content: right;
    list-style-type: none;
    text-transform: uppercase;
    padding: 10px;
}

.link{
    margin: 20px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.link:hover {
    color: #eca325;
    text-decoration: underline;
}

h1 {
    font-size: 5em;
    color: #fff;
    font-weight: 500;
}

.container-section {
    background-color: #000;
    border-top: 4px solid #757575;
    background-position: right;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    min-height: 100vh;
}

#gryffindor {
    background-image: url(img/gryffindor.jpeg);
    background-repeat: no-repeat;
}

#hufflepuff {
    background-image: url(img/hufflepuff.jpeg);
    background-repeat: no-repeat;
}

#ravenclaw {
    background-image: url(img/ravenclaw.jpeg);
    background-repeat: no-repeat;
}

#slytherin {
    background-image: url(img/slytherin.jpeg);
    background-repeat: no-repeat;
}

h2 {
    color:#fff;
    font-size: 40px;
    padding: 20px;
    padding-left: 50px;
}

.paragraph {
    color: #fff;
    font-size: 20px;
    background-position: right;
    padding: 20px;
    padding-left: 50px;
}


@media only screen and (max-width: 800px) {
    .list-link {
        display: flex;
        flex-direction: column;
    }
    .list {
        padding-bottom: 15px;
        text-align: center;
    }
    .container-section {
        display: flex;
        flex-wrap: wrap;
        background-position: top center;
        width: 100%;
        height: 100%;
    }
    .paragraph {
        margin: 0;
        background-color: #000;
        opacity: 0.7;
        font-size: 15px;
        min-height: 100vh;
    }
    h2 {
        font-size: 25px;
    }
}
